body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

$col1:rgb(209,113,115);
$col2:rgb(187,205,181);
$col3:rgb(141,168,161);
$col4:rgb(142,137,113);
$col5:rgb(206,116,81);
$col-txt:#faebd7;
// https://css-tricks.com/snippets/sass/placing-items-circle/
@mixin on-circle($item-count, $circle-size, $item-size){
  position: relative;
  width: $circle-size;
  height: $circle-size;
  padding: 0;
  border-radius: 50%;
  list-style: none; 
  // opacity: .9;
  // transform-origin: top left;

  > * {
    display: block;
    position: absolute;
    top:  50%; 
    left: 50%;
    width:  $item-size;
    height: $item-size;
    margin: -($item-size / 2);
    $angle: (360 / $item-count);
    $rot: 0;
    // opacity: .9;
    // transform-origin: center;


    @for $i from 1 through $item-count {
      &:nth-of-type(#{$i}) {
        transform: 
          rotate($rot * 1deg) 
          translate($circle-size / 2) 
          rotate($rot * -1deg);
          // transform-origin: center;

          &:hover{
            // transform-origin: 0 0;
            opacity: 1;
            z-index: 20;
            filter: brightness(1.10);
            // transform: scale(1)
            // transform-origin: right;
          }
      }
      
      $rot: $rot + $angle;
      

    }
    
  }
}

.circle-container{
  @include on-circle(
    $item-count:5, 
    $circle-size: 19em, 
    $item-size:12em);

  margin:10em auto 0;
  // border: solid 5px tomato;
  

  .circles{
    text-align: center;
    max-width: 100%;
    border-radius: 50%;
    position: absolute;
  
    z-index:10;
    transition: opacity 1s ease, z-index .1s ease-in-out, filter 1s;
    opacity: .9;
  }
}


.txt{
  position: inherit;
  top: 40%;
  left: 4%;
  color: $col-txt;
  font-weight: 500;
}

.--top{
  background: $col1;
}

.--right{
  background: $col2;
}



.--lower{
  background: $col3;
}

.--leftlower{
  background: $col4;
}
.--left{
  background: $col5;
}